[submodule "extensions/zpwrchrome"]
	path = extensions/zpwrchrome
	url = https://github.com/MenkeTechnologies/zpwrchrome.git
[submodule "extensions/hud-internal/lib/zgui-core"]
	path = extensions/hud-internal/lib/zgui-core
	url = https://github.com/MenkeTechnologies/zgui-core.git
[submodule "extensions/hud-internal/native/zwire-host"]
	path = extensions/hud-internal/native/zwire-host
	url = https://github.com/MenkeTechnologies/zwire-host.git
[submodule "extensions/hud-internal/lib/file-browser"]
	path = extensions/hud-internal/lib/file-browser
	url = https://github.com/MenkeTechnologies/zpwr-file-browser.git
[submodule "extensions/hud-internal/lib/clip-engine"]
	path = extensions/hud-internal/lib/clip-engine
	url = https://github.com/MenkeTechnologies/zpwr-clip-engine.git
